<header class="docs-primary-header">
	<h1>Calculadora de renta</h1>
</header>

<section>
	<aside>
		<img src="../../assets/img/undraw_hello_re_3evm.svg" alt="imagen alusiva">
	</aside>
	<form>
		<mat-form-field appearance="fill">
			<mat-label for="apellido1">Primer Apellido</mat-label>
			<input matInput [(ngModel)]="primerApellido" name="apellido1">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Segundo Apellido</mat-label>
			<input matInput [(ngModel)]="segundoApellido" name="apellido2">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Nombre</mat-label>
			<input matInput [(ngModel)]="nombre" name="nombre">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Select</mat-label>
			<mat-select name="departamentos" [(ngModel)]="departamentoSeleccionado">
				<mat-option name="departamentos-opt" *ngFor="let n of departamento" [value]="n">{{n}}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Salario</mat-label>
			<input matInput [(ngModel)]="salario" name="salario">
		</mat-form-field>
		<button mat-raised-button color="primary" (click)="calcularRenta">Primary</button>
	</form>
</section>